# Treat all files as binary, effectively ignoring them for language statistics
* -text

# Explicitly mark C# files as text and C#
*.cs text linguist-language=C#

# Mark HTML and related files as binary to exclude them
*.html binary
*.htm binary
*.css binary
*.ejs binary

# Explicitly include other file types you want to see
Dockerfile text
*.yml text
*.yaml text
*.json text
*.md text
*.sh text
*.ps1 text
# Add any other file extensions you want to include
